target/
.mvn/
mvnw
mvnw.cmd
test-output/
upload-dir/
public/
.log.gz
.orig
.jar
.sh

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
^.*\.idea$
^.+\.iml$
^.*\.log$
^.*\.iws
^.*\.ipr$

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Eclipse ###
.metadata/
