<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LEVEL_ROOT">INFO</Property>
        <Property name="LEVEL_AF">INFO</Property>
        <Property name="LEVEL_SPRINGFRAMEWORK">WARN</Property>
        <Property name="LEVEL_TOMCAT">DEBUG</Property>
        <Property name="PATTERN">%d %p [%c] [%t]- %msg%n%throwable</Property>
        <Property name="FILENAME">${sys:user.dir}/automation-framework.log</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
        <RollingFile name="RollingFile" fileName="${FILENAME}"
                     filePattern="logs/automation_framework/$${date:yyyy-MM}/automation-framework-%d{dd-MM-yyyy}-%i.log.gz">
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.betamedia.atom" level="${LEVEL_AF}" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="org.springframework" level="${LEVEL_SPRINGFRAMEWORK}" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="org.apache.tomcat" level="${LEVEL_TOMCAT}" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Root level="${LEVEL_ROOT}">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>