<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div>
    <form method="POST" enctype="multipart/form-data" action="/af/upload">
        <table>
            <tr><td>Properties to upload:</td><td><input type="file" name="properties" /></td></tr>
            <tr><td>Suite to upload:</td><td><input type="file" name="suites[]" th:multiple="true"/></td></tr>
            <tr><td>Data to upload:</td><td><input type="file" name="dataSources[]" th:multiple="true"/></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>
</div>

</body>
</html>