<!doctype html>
<html>
<head>
    <title>ATOM</title>
    <link href="css/angular-bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="js/angular-bootstrap.js" type="text/javascript"></script>
    <script src="js/client.js"></script>
</head>

<body ng-app="client">
<div id="menu" style='margin-left: 20%;'>
    <a href="/atom/">Run tests</a> |
    <a href="/atom/schedule">Schedule test execution</a> |
    <a href="/atom/upload">Upload data</a>
</div>
<hr width="60%"/>
<div ng-controller="runner as runner" class="container">
    <form role="form" ng-submit="runner.run()" class="form-horizontal">
        <div class="form-group">
            <label for="suites" class="control-label col-sm-3">Suites:</label>
            <div class="col-sm-9">
                <input type="file" multiple file-model="suites" class="form-control" id="suites" name="suites"/>
            </div>
        </div>
        <div class="form-group">
            <label for="properties" class="control-label col-sm-3">Properties:</label>
            <div class="col-sm-9">
                <input type="file" file-model="properties" class="form-control" id="properties" name="properties"/>
            </div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-default btn-sm col-sm-1"
                    ng-click="runner.isCollapsed = !runner.isCollapsed">JAR
            </button>
            <div uib-collapse="runner.isCollapsed">
                <label for="tempJar" class="control-label  col-sm-2">JAR override:</label>
                <div class="col-sm-9">
                    <input type="file" file-model="tempJar" class="form-control" id="tempJar" name="tempJar"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-sm col-sm-1">Execute</button>
        </div>
        <div ng-repeat="message in runner.messages">
            <h4 ng-cloak>{{message}}</h4>
        </div>
    </form>
    <hr/>
    <h4>Reports</h4>
    <div style="word-wrap: break-word;">
        <div class="row">
            <div class="col-md-4">Suites</div>
            <div class="col-md-2">Date</div>
            <div class="col-md-1">Time</div>
            <div class="col-md-1">Report</div>
            <div class="col-md-2">Status</div>
            <div class="col-md-1">Refresh</div>
            <div class="col-md-1">Abort</div>
        </div>
        <div ng-repeat="test in runner.tests" class="row">
            <div class="col-md-4">
                <div ng-repeat="suite in test.data.suites" ng-cloak>
                    {{suite}}
                </div>
            </div>
            <div class="col-md-2">{{test.data.date}}</div>
            <div class="col-md-1">{{test.data.time}}</div>
            <div class="col-md-1">
                <a target="_blank" ng-href="/atom/{{test.data.reportURL}}"
                   ng-style="{'visibility': !!test.data.reportURL ? 'visible':'hidden'}">
                    link
                </a>
            </div>
            <div class="col-md-2" ng-class="{highlight: test.data.status === 'COMPLETED'}">{{test.data.status}}</div>
            <div class="col-md-1">
                <button type="button" ng-click="runner.pollForStatus(test)" class="btn btn-xs btn-info"
                        ng-disabled="test.data.status !== 'TIMED OUT'">Refresh
                </button>
            </div>
            <div class="col-md-1">
                <button type="button" ng-click="runner.abort(test)" class="btn btn-xs btn-danger"
                        ng-disabled="test.data.status === 'COMPLETED'">Abort
                </button>
            </div>
        </div>
    </div>
</div>
<div ng-controller="version as version" class="container">
    <h4>Versions</h4>
    <div>
        <div class="row">
            <div class="col-md-2">Core:</div>
            <div class="col-md-2">{{version.core}}</div>
        </div>
        <div class="row">
            <div class="col-md-2">TestsLibrary:</div>
            <div class="col-md-2">{{version.tests}}</div>
        </div>
    </div>
</div>
<hr width="60%"/>
</body>
</html>